nav a {
  padding: 0.5em 1em;
  text-decoration: none;
  color: currentcolor;
  display: flex;
  align-items: center;
}

/* Ellipsis on nav items that are too long */
nav a > *:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Spacing between icon and label */
nav a > *:first-child {
  margin-right: 1em;
}


nav a:not(.logo_wrapper):hover {
  border-right: 3px solid #666666;
}

nav a:not(.logo_wrapper).router-link-exact-active {
  border-right: 3px solid var(--accent-color);
}
