* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: brown;

    --header-height: 64px;
    --nav-width: 10em;
    --grid-gap: 1em;
}

body {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #eeeeee;
}

.app {
    display: grid;

    grid-template-areas:
        /* 'header header header header' */
        '. nav main .'
        '. footer footer .';

    grid-gap: var(--grid-gap);

    grid-template-columns: 1fr var(--nav-width) minmax(auto, 50em) 1fr;
    grid-template-rows: 1fr auto;

}



header {
    display: none;
    grid-area: header;
    position: sticky;
    top: 0;

    font-size: 100%;
    font-weight: 700;
    border: 2px solid #444444;
    background-color: white;
    padding: 0.5em;
}

main {
    grid-area: main;


    background-color: white;

    padding: 1em 2em;


}

nav {
    grid-area: nav;
    align-self: start;
    position: sticky;
    border: 2px solid lightgreen;
    top: 0;
    /* top: calc(var(--grid-gap) + var(--header-height)); */
    z-index: 10;
    background-color: white;

    display: flex;
    flex-direction: column;
}

nav a {
    padding: 0.5em;
}

footer {
    display: none;
    grid-area: footer;
    border: 2px solid lightsalmon;
}


article {
    font-size: 1.2rem;
    line-height: 1.6rem;
}



@media only screen and (max-width: 50rem) {
    .app {
        grid-template-areas:
        'header'
        'main'
        ;

        grid-gap: 0;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr var(--header-height) ;
    }

    nav {
        position: fixed;
        top: 0;
        bottom: var(--header-height);
        width: var(--nav-width);
        height: 100%;
        transition: transform 0.25s;
        transform: translateX(-100%);
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        bottom: 0;
    }



    main {

    }

    nav.open {
        transform: translateX(0);
    }
}
