:is(button, .button) {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: var(--text-size);

  display: inline-flex;
  gap: 0.5em;

  color: var(--text-color);

  transition: border-color 0.25s;
}

:is(button, .button):hover {
  border-color: var(--accent-color);
}

:is(button, .button).active {
  color: var(--accent-color);
}

:is(button, .button).outlined {
  border: 1px solid var(--border-color);
  padding: 0.5em 1em;
  font-size: 1rem;
}
