
.material-design-icon__svg {
  bottom: 0 !important;
}

:root {
  /* Sizes */
  --header-height: 2.5em;
  --nav-width: 12em;
  --aside-width: var(--nav-width);
  --grid-gap: 1em;
  --main-max-width: 40em;

  /* Colors */
  --accent-color: #c00000;
  --error-color: #c00000;
  --border-color: #dddddd;
  --text-color: #555555;
  --headers-color: #222222;
  --nav-color: #222222;


  /* Text */
  --line-height: 1.5;
}


html {
  /* Keep the scrollbar visible at all time */
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: lexend, sans-serif; */
  font-family: sans-serif;
  /* font-size: clamp(1rem, 2.5vw, 1.3rem); */

  padding: 0;
  margin: 0;

  color: var(--text-color);

  font-size: clamp(1rem, 2vw, 1.2rem);

}

h1,h2,h3 {
  color: var(--headers-color)
}
