/* Hide H1 of article because displayed separately */
.article_content:not(.editor_content) h1 {
    display: none;
}

article h1 {
    /* h1 in articles are resized by the browser by default */
    font-size: 2em;
}


.article_content {
    line-height: var(--line-height);
}




.article_content img {
    max-width: 80%;
    max-height: 50vh;
    filter: drop-shadow(2.5px 2.5px 5px #44444444);
    object-fit: contain;
    
}

.article_content:not(.editor_content) img {
    cursor: pointer;
}

.article_content iframe {
    display: block;
    /* img, iframe default is inline */
    margin: 2em auto;
    max-width: 100%;

    /* This is super useful */
    aspect-ratio: 3/2;
    
}


.article_content pre code {
    /* width: 80%; */
    display: block;

    /* Allow horizontal scroll */
    overflow-x: auto;
    font-size: 90%;
    padding: 1em;
    background: #282b2e;
    color: #e0e2e4;
}