/* Providing the .button class for non-button items (links, inputs) */
:is(button, .button) {

  /* Overwriting defaults */
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  text-decoration: none;

  font-size: var(--text-size);

  display: inline-flex;
  gap: 0.25em;

  color: var(--text-color);

  transition: 
    border-color 0.25s, 
    color 0.25s;
}



:is(button, .button):hover {
  color: var(--accent-color)
}

:is(button, .button).active {
  color: var(--accent-color);
}

:is(button, .button).outlined {
  border: 1px solid var(--border-color);
  padding: 0.5em 1em;
  font-size: 1rem;
}

:is(button, .button).outlined:hover {
  border-color: var(--accent-color);
}