@import 'header.css';
@import 'aside.css';
@import 'nav.css';
@import '../utility.css';
@import '../articles.css';
@import '../toolbar.css';
@import '../common.css';
/* @import '../buttons.css'; */

@font-face {
  font-family: lexend;
  /* src: url(./assets/LexendDeca-Regular.ttf); */
}




.app {

  /* Not using margin auto since same can be achieved with grid */

  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr var(--aside-width) minmax(auto,var(--main-max-width)) 1fr;
  grid-template-rows: 0 1fr auto;
  grid-gap: var(--grid-gap);
  grid-template-areas:
    '. . . . '
    '. aside main .'
    '. footer footer .';



}

header {
  grid-area: header;
  display: none;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 8;

  font-size: 1.5rem;

  border: none;
  border-bottom: 1px solid var(--border-color);

  padding: 0.25em 0.5em;
}

aside {

  grid-area: aside;
  align-self: start;
  /* Height is set using grid */

  display: flex;
  flex-direction: column;
  align-items: stretch;


  background-color: white;

  /* Sticky because still needs to be in the document flow for grid */
  position: sticky;
  top: var(--grid-gap);
  z-index: 11;

  border-right: 1px solid var(--border-color);

  transition: transform 0.25s;

}


nav {

  font-size: 1.2em;

  /* Re-applying background color for times where position fixed */
  background-color: white;

  display: flex;
  flex-direction: column;

}

main {
  grid-area: main;

  /* Debug */
  /* background-color: lightgreen; */
}

/* WARNING: Affects stuff like the edit button */
main a {
  text-decoration: none;

  color: var(--accent-color);
  font-weight: bold;
  transition: 0.25s;
}

footer {
  grid-area: footer;

  display: flex;
  justify-content: center;
  padding: 1em;
}






/* responsivity */
/* Not mobile first, I know it's bad practice */
@media only screen and (max-width: 50rem) {

  .nav_backround {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;

    background-color: #00000044;

    visibility: hidden;
    opacity: 0;

    transition:
      visibility 0.5s,
      opacity 0.5s;

  }

  .nav_backround.visible {
    visibility: visible;
    opacity: 1;
  }

  .app {
    /* Outer columns to zero because gap is enough */
    /* Aside outside the flow so omitted from grid*/
    grid-template-columns: 0 1fr 0;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header header header'
      '. main .'
      '. footer .';
  }

  header {
    display: flex;



  }


  aside {
    font-size: 1.2rem;
    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    width: var(--nav-width);

    transform: translateX(-100%);
    border: none;
  }



  aside.open {
    transform: translateX(0%);
  }

  header .navigation_button {
    display: block;
    margin-right: 1em;
  }

  header .logo_wrapper {
    padding: 0;

  }

  header .logo {
    height: 1.75em;
    width: 1.75em;
  }

}
