nav a {
  padding: 0.5em 1em;
  text-decoration: none;
  color: var(--nav-color);

  display: flex;
  align-items: stretch;
  border-right: 3px solid transparent;

  transition:
    border-color 0.25s;
}

/* Ellipsis on nav items that are too long */
nav a > *:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Spacing between icon and label */
nav a > *:first-child {
  margin-right: 1em;
}


nav a:not(.logo_wrapper):hover {
  border-right-color: #666666;
}

nav a:not(.logo_wrapper).router-link-exact-active {
  border-right-color: var(--accent-color);
}
